p {
	font-size: 1.25em;
	line-height: 1.5;
}
h1 {
	color: #333;
}
.author-name {
	font-style: italic;
}
.center {
  margin: auto;
  background: white;
  width: 66%;
}

.outside {
  margin: 3rem 0 0 -3rem;
  background: magenta;
  width: 66%;
}
